footer{
    background-color: $dark-gray;
    min-height: 150px;
    color: white;    
    padding-top: 30px;

    nav{
        font-weight: 500;

        ul{
            display: flex;
            justify-content: space-around;
        }
    }
}
#social-nav{
    font-size: 1.5rem;
}
#copyright{
    margin-top: 30px;
}