#location-details-section{
    padding-top: 15px;

    .row{
        margin-bottom: 15px;
    }
    
    .flex-row{
        h1{
            flex: 0 0 75%;
        }
        button{
            flex: 0 0 20%;
            align-self: center;
        }
    }

    
}
.location-info{
    padding: 0 30px 30px 30px;
    background-color: $clear-gray;
    
    .description{
        position: relative;
        height: 150px;
        overflow-y: hidden;
    }

    .as-seen{
        font-size: 1.3rem;
    }
}
.location-map{
    display: flex; 

    iframe{
        flex: 1 0 auto;
    }
}
.location-img{
    position: relative;    
    height: 350px;
    overflow: hidden;
}
.location-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}