<footer class="modal-hidden">
    <div class="container">
        <nav class="row">
            <ul class="list-unstyled col-md-5">
                <li>Home</li>
                <li>Contactez-nous</li>
                <li>A propos</li>
                <li>Mentions légales</li>
            </ul>
            <ul id="social-nav" class="list-unstyled col-md-3 offset-md-4">
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fa fa-google-plus-square" aria-hidden="true"></i></li>
            </ul>
        </nav>
        <div id="copyright" class="row">
            <div class="col-md-12 text-md-center">
                &copy; 2016 PickedIn
            </div>
        </div>
    </div>
</footer>
<div id="tchat-box" class="modal-hidden">
    <div id="top-bar">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span>Laissez-nous un message</span>
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div id="message-box">
        <div>
            <i class="fa fa-at" aria-hidden="true"></i>
            <input placeholder="Email" />
        </div>
        <div>
            <i class="fa fa-question" aria-hidden="true"></i>
            <input placeholder="Objet" />
        </div>
        <div>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <textarea placeholder="Message" ></textarea>
        </div>
        <button>Envoyer</button>
    </div>
</div>
<script type="text/javascript">
    (function (d, p) {
        var a = new XMLHttpRequest(),
        b = d.body;
        a.open('GET', p, true);
        a.send();
        a.onload = function () {
            var c = d.createElement('div');
            c.setAttribute('hidden', '');
            c.innerHTML = a.responseText;
            b.insertBefore(c, b.childNodes[0]);
        };
    })(document, '/images/sprite.svg');
    plyr.setup();
</script>
    </body>
</html>