<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!--<link href="./css/bootstrap-4.0-flex.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.plyr.io/1.5.9/plyr.css" />
    <link rel="stylesheet" href="./css/custom-bootstrap.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/bootstrap.js"></script>
    <script src="./js/plyr.js"></script>
    <script type="text/javascript" src="/js/client-scripts.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <!--<img src="/images/film-interface-smartphone.png" />-->
    <header class="drop-shadow">
        <div class="container">
            <div class="row">
                <nav id="secondary-nav" class="col-md-2 col-md-offset-10">
                    <ul class="list-unstyled">
                        <li><a href="#">Mon Compte<i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="row align-items-stretched">
                <h1 id="brand" class="col-md-3"><a href="#">Picked<span>I</span>n</a></h1>
                <nav id="primary-nav" class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">films</a>
                            <ul class="primary-nav-sub1 list-unstyled">
                                <li>
                                    <a href="#">Test 1</a>
                                    <div class="primary-nav-sub2 row">
                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 1</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                                <li><a href="#">Subtest2</a></li>
                                                <li><a href="#">Subtest3</a></li>
                                                <li><a href="#">Subtest4</a></li>
                                                <li><a href="#">Subtest5</a></li>
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 2</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                                <li><a href="#">Subtest2</a></li>
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 3</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                                <li><a href="#">Subtest2</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 4</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 5</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                                <li><a href="#">Subtest2</a></li>
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 3</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                                <li><a href="#">Subtest2</a></li>
                                                <li><a href="#">Subtest3</a></li>
                                                <li><a href="#">Subtest4</a></li>
                                                <li><a href="#">Subtest5</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 1</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 2</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                                <li><a href="#">Subtest2</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li class="category-title"><a href="#">Catégorie 1</a></li>
                                                <li><a href="#">Subtest1</a></li>
                                                <li><a href="#">Subtest2</a></li>
                                                <li><a href="#">Subtest3</a></li>
                                                <li><a href="#">Subtest4</a></li>
                                                <li><a href="#">Subtest5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Test 2</a></li>
                                <li><a href="#">Test 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">mode/looks</a>
                            <ul class="primary-nav-sub1 list-unstyled">
                                <li><a href="#">Test 4</a></li>
                                <li><a href="#">Test 5</a></li>
                                <li><a href="#">Test 6</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">lieux</a>
                            <ul class="primary-nav-sub1 list-unstyled">
                                <li><a href="#">Test 7</a></li>
                                <li><a href="#">Test 8</a></li>
                                <li><a href="#">Test 9</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">autre</a>
                            <ul class="primary-nav-sub1 list-unstyled">
                                <li><a href="#">Test 10</a></li>
                                <li><a href="#">Test 11</a></li>
                                <li><a href="#">Test 12</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
