body.admin {
    overflow-x: visible;

    & .header-placeholder, & footer, & #tchat-box{
        display: none;
    }   
}
#admin-section{
    font-size: .8rem;

    fieldset{
        border: 1px solid #f1f1f1;
        padding: 30px;
        margin: 30px 0;
        border-radius: 15px;

        legend{
            width: auto;
        }
    }

    .break-url{
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}
.edit-field, .save-button{
    display: none;
}
.save-button, .edit-button, .delete-button, legend button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}