body.admin {
    overflow-x: visible;

    & .header-placeholder, & footer, & #tchat-box{
        display: none;
    }   
}
#admin-section{
    font-size: .8rem;

    fieldset{
        border: 1px solid #f1f1f1;
        padding: 30px;
        margin: 30px 0;
        border-radius: 15px;

        legend{
            width: auto;
        }
    }

    .break-url{
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    button:not(.btn){
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }
}
.edit-field,.th.edit-field, .edit .display-field, .save-button, .close-button, .add-grouped-button, #back-to-products-button, .td .linked-products, iframe{
    display: none;
}
.edit .edit-field{
    display: block;
}
#form-toggle .select2-container .select2-search__field:not([placeholder='']) {
  width: 100% !important;
  margin-right: 100000px;
}
.has-danger .select2-container--default .select2-selection--multiple {
    border-color: #d9534f;
}
.has-success .select2-container--default .select2-selection--multiple{
    border-color: #5cb85c;
}
.table 
{
    display:table;

    &.table-hover form.tr:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }

    textarea{
        resize: both;
    }

    input:not([type=checkbox]), textarea{
        min-width: 150px;
    }
}
.tr
{
    display:table-row;
}
.td, .th
{
    display:table-cell;
    padding: 0 .5rem;
    vertical-align: middle;
}
.table-striped form.tr:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0.05);
}
.thead-inverse .th {
    color: #fff;
    background-color: $dark-gray;
    padding: .5rem;
    font-size: 1.2rem;
}
