.assets-nav{    
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
    background-color: $clear-gray;

    & > div{
        width: 100%;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        align-content: center;  
        box-shadow: 0 1px 1px rgba(52,63,74,.2);

        &:hover svg{
            transform: rotate(180deg) scale(0); 
        }

        &:hover span{
            opacity: 1;
        }       
    } 
    
    button[data-action]{
        background: none;
        border: none;
        width: 25px;
        font-size: .875rem;
        height: 65px;
        color: $dark-gray;

        &[disabled]{
            color: #a09a9a
        }
    }  
}

.line-icon{
    position: relative;
    width: 40px;
    margin-right: 5px;
    margin-left: 5px;

    svg{
        display: block; /*Avoid having margin around svg (same for images)*/
        fill: currentColor;
        width: 40px;
        height: 65px;    
        padding: 5px;   
        transition: all 500ms ease;
    }

    span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 40px;
        opacity: 0;
        text-align: center;
        font-size: 0.75rem;
        transition: all 500ms ease;
    }
}

$width: 675px;
$seatWidth: ($width/14) * .9;
$seatMargin : (($width/14) * .1)/2;
.assets{
    overflow: hidden;
    min-height: 65px;
    margin: 0;    
    width: 675px;
    display: flex;
    align-items: center;   

    .timeline-bar {
        width: 100%;
        display: flex;
        margin: 0 0 0 (-$seatWidth);
        list-style: none;
        padding: 0;        
        transform: translateX($seatWidth);        

        &.is-reversing {
            transform: translateX(-$seatWidth);        
        }  		

        .carousel-seat{            
            margin: 0 $seatMargin;
            flex: 0 0 $seatWidth;           
            opacity: 0;
        }

        &.is-set{
            transform: none;
            transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .is-ref{
            margin: 0 5px 0 -5px;
        }
		
		&.no-slide{
			margin: 0;
			
			.is-ref{
				margin: 0 $seatMargin;
			}
		}
    }       

    .asset-img{               
        flex: 0 0 $seatWidth;
        height: $seatWidth;
        width: $seatWidth;

        a.set img, a.location img{
            max-height: 100%;
            max-width: none;
        }

        img{
            max-height: 100%;
            max-width: 100%;
        }

        .asset-info{    
            opacity: 0;    
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            background: white;
            height: 180%;
            max-width: 0;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            padding: 0 40px 0 65px;
            color: $dark-gray;
            display: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            flex-direction: column;
            justify-content: center;

            *{
                opacity: 0;
            }

            .title{
                font-family: Raleway;
                font-weight: 500;
                color: $clear-red;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
            }

            .interactive-button {                
                width: 80px;     
                min-width: inherit;
                
                &:hover{

                }           
            }
        }

        & > a{
            border-radius: 50px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            background: white;
            z-index: 2;

            &.look{
                background: $dark-gray;
				padding-top: 24%;
				text-align: center;
				color: white;
            }
        }

        &:hover{            
            position: absolute;           
            z-index: 3;             
        }     
    }
}

.assets, .assets li {
    padding: 0; 
    list-style-type: none;
}

input[type=range] {
    width: 100%;
}
.video-overlay{
    position: absolute;
    top: 0;
    color: white;
    font-family: Oswald;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 344px;
    cursor: pointer;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 1px 1px #000; 
    background-color: rgba(0,0,0,.4);
    
    i{
        opacity: .8;
        font-size: 10rem;
    }    
}
.pickedin-player{
    position: relative;
}
.plyr{
    overflow-y: hidden;
    height: 345px;
    
    iframe{
        margin-top: -60px;
        z-index: -1;
    }
}

/*.plyr__video-wrapper{
    overflow-y: hidden;
    height: 344px;
}
.plyr__video-wrapper video{
    margin-top: -59px;
    z-index: -1;
}
.plyr__controls{
    background-color: $dark-gray;    
    z-index: 1;
}
.plyr__controls button{
    color: white;
}
.plyr__tooltip{
    color: $dark-gray;
}
.plyr__controls .plyr__time{
    color: white;
}*/
/***** PLAYER CAROUSEL *****/
/*#player-carousel{
    position: relative;
    padding: 0 !important;
    margin-bottom: 30px;
}
#player-carousel>.controls{
    position: absolute;
    width: 100%;
    top: 353px;
}
#player-carousel > .controls > button{
    position: relative;
    transition: opacity .5s ease;
    opacity: .8;   
}
#player-carousel > .controls > button:hover{    
    opacity: 1;
}
#player-carousel > .controls > button:first-child{
    left: -50px;
}
#player-carousel > .controls > button:nth-child(2){
    left: 50px;
}
#player-carousel .row{
    margin: 0;
}
#poster-section{
    display: flex;
    flex-direction: column;
    background-clip: content-box;    
    width: 25%;
}
#date-info{
    background-color: $dark-gray;
    padding-bottom: 15px;   
}
#date-info ul{
    font-size: .8rem;
    padding-left: 15px;
    line-height: 1rem;
    margin-bottom: 0;
}
#date-info li:nth-child(2)
{
    margin-top: 5px;
}
#working-people p, #date-info p{    
    font-size: 1rem;    
    padding-left: 15px;  
    margin-bottom: 0;
    text-align: left;
}
#date-info p{
    font-weight: 500;
}
#working-people {
    flex: 1 0 auto;
    margin-top: 15px;    
    background-color: $clear-gray;
    padding-bottom: 15px;
}
#working-people ul{
    font-size:.8rem;
}
#working-people .carousel-seat > ul{
    position: relative;
    left: 30px;
}
#working-people .carousel-seat > div {
    width: 100%;
}
#working-people .carousel-seat > div > button{
    border: 0;
    background: none;
    outline: none;
    font-size: 1.5rem;
}
#working-people .carousel-seat > div > a,
#working-people .carousel-seat > div > a:hover,
#working-people .carousel-seat > div >a:visited
{
    text-decoration: none;
    color: $dark-gray;
}
#working-people p{
    font-weight: 600;
    display: inline-block;
    width: 75%;
}
#working-people p, #working-people ul{
    color: $dark-gray;
}
#date-info p, #date-info ul{
    color: white;
}
#all-products{
    background-color: $clear-red;
    flex-grow: 3;
    color: white;
    padding-top: 13%;
}
.video-overlay{
    position: absolute;
    top: 0;
    color: white;
    font-family: Oswald;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 344px;
    cursor: pointer;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 1px 1px #000; 
    background-color: rgba(0,0,0,.4);
    
    i{
        opacity: .8;
        font-size: 10rem;
    }

    div{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.pagin {
    display: flex;
    background-color: $dark-gray;
    justify-content: center;
    margin: 0;

    li{
        flex: 1 0 10%;
        margin: 15px;
    }

    a{
        display: block;

        &:not(.active){
            opacity: .5;
            transition: opacity 500ms ease;

            &:hover{
                opacity: 1;
            }
        }
    }

    .active{
        border-bottom: 5px solid $clear-red;
    }
}

#player-carousel > .row{
    align-items: center;
}
#player-carousel > .row > button{
    border: 0;
    font-size: 3rem;
    line-height: 9rem;
    outline: none;    
}
#player-carousel > .row > button > i{
    transition: margin 100ms ease-in;
}
#player-carousel > .row > button:nth-child(1):hover > i{
    margin: 0 5px 0 0;
}
#player-carousel > .row > button:nth-child(3):hover > i{
    margin: 0 0 0 5px;
}
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
@keyframes slide-out {
    100% { 
        transform: translateX(110%);
        opacity: 0;
    }
}
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
    100% { 
        transform: translateX(0%);
        opacity: 1;
    }
}
.disappear{
    animation: disappear 0.5s forwards;
}
@keyframes disappear {
    100% {        
        opacity: 0;
    }
}
.appear{
    animation: appear 0.5s forwards;
}
@keyframes appear {
    100% {        
        opacity: 1;
    }
}*/