.assets-nav{    
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
    background-color: $clear-gray;

    & > div{
        width: 100%;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        align-content: center;  
        box-shadow: 0 1px 1px rgba(52,63,74,.2);

        &:hover svg{
            transform: rotate(180deg) scale(0); 
        }

        &:hover span{
            opacity: 1;
        }       
    } 
    
    button[data-action]{
        background: none;
        border: none;
        width: 25px;
        font-size: .875rem;
        height: 65px;
        color: $dark-gray;

        &[disabled]{
            color: #a09a9a
        }
    }  
}

.line-icon{
    position: relative;
    width: 40px;
    margin-right: 5px;
    margin-left: 5px;

    svg{
        display: block; /*Avoid having margin around svg (same for images)*/
        fill: currentColor;
        width: 40px;
        height: 65px;    
        padding: 5px;   
        transition: all 500ms ease;
    }

    span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 40px;
        opacity: 0;
        text-align: center;
        font-size: 0.75rem;
        transition: all 500ms ease;
    }
}

$width: 675px;
$seatWidth: ($width/14) * .9;
$seatMargin : (($width/14) * .1)/2;
.assets{
    overflow: hidden;
    min-height: 65px;
    margin: 0;    
    width: 675px;
    display: flex;
    align-items: center;   

    .timeline-bar {
        width: 100%;
        display: flex;
        margin: 0 0 0 (-$seatWidth);
        list-style: none;
        padding: 0;        
        transform: translateX($seatWidth);    
        min-height: $seatWidth; 

        &.is-reversing {
            transform: translateX(-$seatWidth);        
        }  		

        .carousel-seat{            
            margin: 0 $seatMargin;
            flex: 0 0 $seatWidth;           
            opacity: 0;
        }

        &.is-set{
            transform: none;
            transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .is-ref{
            margin: 0 5px 0 -5px;
        }
		
		&.no-slide{
			margin: 0;
			
			.is-ref{
				margin: 0 $seatMargin;
			}
		}
    }       

    .asset-img{               
        flex: 0 0 $seatWidth;
        height: $seatWidth;
        width: $seatWidth;

        a.set img, a.location img{
            max-height: 100%;
            max-width: none;
        }

        img{
            max-height: 100%;
            max-width: 100%;
        }

        .asset-info{    
            opacity: 0;    
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            background: white;
            height: 180%;
            max-width: 0;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            padding: 0 40px 0 65px;
            color: $dark-gray;
            display: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            flex-direction: column;
            justify-content: center;

            *{
                opacity: 0;
            }

            .title{
                font-family: Raleway;
                font-weight: 500;
                color: $clear-red;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
            }

            .interactive-button {                
                width: 80px;     
                min-width: inherit;
                
                &:hover{

                }           
            }
        }

        & > a{
            border-radius: 50px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            background: white;
            z-index: 2;

            &.look{
                background: $dark-gray;
				padding-top: 24%;
				text-align: center;
				color: white;
            }
        }

        &:hover{            
            position: absolute;           
            z-index: 3;             
        }     
    }
}

.assets, .assets li {
    padding: 0; 
    list-style-type: none;
}

input[type=range] {
    width: 100%;
}
.video-overlay{
    position: absolute;
    top: 0;
    color: white;
    font-family: Oswald;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 344px;
    cursor: pointer;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 1px 1px #000; 
    background-color: rgba(0,0,0,.4);
    
    i{
        font-size: 10rem;
    }    
}
.pickedin-player{
    position: relative;
}
.plyr{
    overflow-y: hidden;
    height: 345px;
    
    iframe{
        margin-top: -60px;
    }
}