#product-details-section{    
    margin-top: 15px;
    position: relative;
    padding-bottom: 45px;
    
    .col-md-3:not(#user-actions){
        display: flex;
        flex-direction: column;
    }

    .matching-status{
        margin-top: 15px;
        font-weight: 500;
        border-radius: 30px;
        font-size: .9rem;       
                
        i{
            margin-right: 5px;
            margin-left: 5px;
            text-shadow: 2px 1px 1px rgba(0,0,0,.5);
        }

        &.close-match{
            i{
                color: $yellow-warning;
            }            
        }

        &.exact-match{
            i{
                color: $green;
            }             
        }
    }
	
	#category-tags{
		padding: 0;
        display: inline-block;
	}

    .asset-img {
        height: 300px;
        
        img{
            max-height: 100%;    
            max-width: 100%;
        }        
    }

    .interactive-button{
        margin-top: 30px;
    }
}