/***** COLORS *****/
$clear-red: #D9534F;
$clear-gray: #eeeeee;
$dark-gray: #454242;
$green: #77aa49;
$yellow-warning: #f0ad4e;

/***** FONTS *****/
$primary-font: Roboto, sans-serif;
$main-carousel-font: Osvald, sans-serif;