<div class="container">
    <section id="main-carousel-section">
        <div class="wrap">
            <div id="main-carousel" class="carousel is-set full-size main">
                <figure class="carousel-seat">
                    <a href="#" class="wide-img">
                        <img src="/images/location5.jpg" />
                    </a>
                    <figcaption>
                        <div class="type">Focus Décor</div>
                        <a href="#" class="title" title="Découvrez la déco de Five">A voir : la déco stylée de nos 5 colocataires</a>
                        <div class="description">Vu dans Five</div>
                    </figcaption>
                </figure>
                <figure class="carousel-seat">
                    <a href="#" class="wide-img">
                        <img src="/images/location4.jpg" />
                    </a>
                    <figcaption>
                        <div class="type">Focus Lieu</div>
                        <a href="#" class="title" title="Découvrez Le Perchoir">Découvrez le Restaurant Roof Top Le Perchoir</a>
                        <div class="description">Vu dans Five</div>
                    </figcaption>
                </figure>
                <figure class="carousel-seat">
                    <a href="#" class="wide-img">
                        <img src="/images/location5.jpg" />
                    </a>
                    <figcaption>
                        <div class="type">Focus Décor</div>
                        <a href="#" class="title" title="Découvrez la déco de Five">A voir : la déco stylée de nos 5 colocataires</a>
                        <div class="description">Vu dans Five</div>
                    </figcaption>
                </figure>
                <figure class="carousel-seat">
                    <a href="#" class="wide-img">
                        <img src="/images/location4.jpg" />
                    </a>
                    <figcaption>
                        <div class="type">Focus Lieu</div>
                        <a href="#" class="title" title="Découvrez Le Perchoir">Découvrez le Restaurant Roof Top Le Perchoir</a>
                        <div class="description">Vu dans Five</div>
                    </figcaption>
                </figure>
                <figure class="carousel-seat is-ref">
                    <a href="#" class="wide-img">
                        <img src="/images/location1.jpg" />
                    </a>
                    <figcaption>
                        <div class="type">Focus</div>
                        <a href="#" class="title" title="Découvrez Yosemite">Découvrez le parc Yosemite !</a>
                        <div class="description">Une nature dans tous ses états.</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="pagin" data-slide="main-carousel">
            <button class="active"><i class="fa fa-circle" aria-hidden="true"></i></button>
            <button><i class="fa fa-circle" aria-hidden="true"></i></button>
            <button><i class="fa fa-circle" aria-hidden="true"></i></button>
            <button><i class="fa fa-circle" aria-hidden="true"></i></button>
            <button><i class="fa fa-circle" aria-hidden="true"></i></button>
        </div>
        <button class="toggle" data-slide="main-carousel" data-toggle="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <button class="toggle" data-slide="main-carousel" data-toggle="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </section>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-md-center">Découvrez les looks, produits et lieux de vos films favoris</h1>
        <div id="main-search-box" class="m-x-auto">
			<form role="form" method="get" action="/search" accept-charset="UTF-8" id="search-form-home-page">
				<input type="text" name="q" id="home-search-box" autocomplete="off" />
				<div class="placeholder">Chercher des films, looks, produits, lieux et bien plus encore...</div>
				<i class="fa fa-search" aria-hidden="true"></i>
			</form>
        </div>
        <button class="down-button drop-shadow" data-down-to="#see-on-pickedin">
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div id="see-on-pickedin" class="jumbotron jumbotron-fluid even">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>A voir sur PickedIn</h2>
                <p class="lead">Toujours plus de films référencés et passés à la loupe chaque semaine dont vous pourrez identifier :</p>
                <figure>
                    <div class="wide-img dark-overlay">
                        <img src="/images/see-on-fashion1.jpg" />
                    </div>
                    <div class="wide-img dark-overlay">
                        <img src="/images/see-on-fashion2.jpg" />
                    </div>
                    <div class="wide-img dark-overlay">
                        <img src="/images/see-on-fashion3.jpg" />
                    </div>
                    <div class="wide-img">
                        <img src="/images/see-on-fashion4.jpg" />
                    </div>
                    <figcaption>Les looks et tendances mode de vos personnages favoris</figcaption>
                </figure>
                <figure>
                    <div class="wide-img">
                        <img src="/images/location1.jpg" />
                    </div>
                    <div class="wide-img dark-overlay">
                        <img src="/images/location4.jpg" />
                    </div>
                    <div class="wide-img dark-overlay">
                        <img src="/images/location3.jpg" />
                    </div>                   
                    <figcaption>Les lieux où ils ont déjeuné, voyagé, se sont embrassés</figcaption>
                </figure>
                <figure>
                    <div class="wide-img dark-overlay">
                        <img src="/images/see-on-deco1.jpg" />
                    </div>
                    <div class="wide-img dark-overlay">
                        <img src="/images/see-on-deco2.jpg" />
                    </div>
                    <div class="wide-img">
                        <img src="/images/see-on-deco3.jpg" />
                    </div>                  
                    <figcaption>Les articles de décoration et le mobilier qui composent les plus beaux décors</figcaption>
                </figure>
                <figure>
                    <div class="wide-img">
                        <img src="/images/see-on-transport1.jpg" />
                    </div>
                    <div class="wide-img">
                        <img src="/images/see-on-transport2.jpg" />
                    </div>
                    <div class="wide-img dark-overlay">
                        <img src="/images/see-on-transport3.jpg" />
                    </div>
                    <div class="wide-img dark-overlay">
                        <img src="/images/see-on-transport4.jpg" />
                    </div>
                    <figcaption>Les véhicules et moyens de transports les plus variés</figcaption>
                </figure>
            </div>
        </div>        
        <!--<div id="pics" class="col-md-5">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-fluid drop-shadow" src="/images/five-poster.jpg" />
                </div>
                <div class="col-md-3">
                    <img class="img-fluid drop-shadow" src="/images/deadpool-poster.jpg" />
                </div>
                <div class="col-md-3">
                    <img class="img-fluid drop-shadow" src="/images/3-freres-poster.jpg" />
                </div>
                <div class="col-md-3">
                    <img class="img-fluid drop-shadow" src="/images/creed-poster.jpg" />
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4">
                    <div class="portrait-img drop-shadow">
                        <img src="/images/sunglasses.jpg" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portrait-img drop-shadow">
                        <img src="/images/veste-homme2.jpg" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="portrait-img drop-shadow">
                        <img src="/images/veste-femme.jpg" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portrait-img drop-shadow">
                        <img src="/images/shoes.jpg" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6">
                    <div class="portrait-img drop-shadow">
                        <img src="/images/location1.jpg" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="portrait-img drop-shadow">
                        <img src="/images/location2.jpg" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portrait-img drop-shadow">
                        <img src="/images/lambo.jpg" />
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <button class="down-button drop-shadow light" data-down-to="#features-detail">
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </button>
</div>
<div id="features-detail" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-md-center">Pensé pour les spectateurs par des spectateurs</h2>
                <p class="lead text-md-center">Cras finibus, est quis viverra lobortis, mauris magna dapibus velit, eget iaculis nisi magna in massa.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-md-center">
                <i class="fa fa-search" aria-hidden="true"></i>
                Utilisez le moteur de recherche pour retracer précisément ce que vous avez repéré dans un film
            </div>
            <!--<div class="col-md-2 text-md-center">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                Parcourez l’univers du cinéma au travers de tous les éléments qui le composent
            </div>-->
            <div class="col-md-3 text-md-center">
                <i class="fa fa-heart" aria-hidden="true"></i>
                Créez-vous un compte personnel en quelques clics et sauvegardez vos coups de cœur
            </div>
            <div class="col-md-3 text-md-center">
                <i class="fa fa-television" aria-hidden="true"></i>
                Demandez à recevoir une notification peu avant la diffusion TV d’un film qui vous intéresse
            </div>
            <div class="col-md-3 text-md-center">
                <i class="fa fa-database" aria-hidden="true"></i>
                Contribuez à élargir notre base de données en nous proposant des close ou exact match identifiés dans des films
            </div>
            <!--<div class="col-md-3 text-md-center">
                <i class="fa fa-users" aria-hidden="true"></i>
                Partagez vos découvertes avec la communauté
            </div>
            <div class="col-md-3 text-md-center">
                <i class="fa fa-gears" aria-hidden="true"></i>
                Des fonctionnalités toujours plus nombreuses
            </div>-->
        </div>
    </div>
    <button class="down-button drop-shadow" data-down-to="#online-soon">
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </button>
</div>
<div id="online-soon" class="jumbotron jumbotron-fluid even">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-md-center">Prochainement En Ligne</h2>
                <p class="lead text-md-center">Quels films seront ajoutés prochainement ?</p>
            </div>
        </div>
        <div class="wrap">
            <ul id="carousel-movies" class="carousel is-set">
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/deadpool-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/five-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/3-freres-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/creed-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/les-gazelles-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/deadpool-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/five-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/3-freres-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat">
                    <a href="#" alt="" title=""><img src="./images/creed-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
                <li class="carousel-seat is-ref">
                    <a href="#" alt="" title=""><img src="./images/les-gazelles-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
                </li>
            </ul>
            <button class="toggle" data-slide="carousel-movies" data-toggle="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <button class="toggle" data-slide="carousel-movies" data-toggle="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<%- contentFor('extraScripts') %>
<script src="/js/common.js"></script>
<script src="/js/mainHome.js"></script>
