@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,200,500);@import url(https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500);@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500);@import url(https://fonts.googleapis.com/css?family=Lobster);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);/***** COLORS *****/
/***** FONTS *****/
body {
  overflow-x: hidden;
  font-family: Raleway, Roboto, sans-serif !important;
  color: #454242; }

body {
  /*background: rgba(173,173,173,1);
    background: -moz-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(246,246,246,1) 25%, rgba(246,246,246,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,173,173,1)), color-stop(25%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,1)));
    background: -webkit-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(246,246,246,1) 25%, rgba(246,246,246,1) 100%);
    background: -o-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(246,246,246,1) 25%, rgba(246,246,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(246,246,246,1) 25%, rgba(246,246,246,1) 100%);
    background: linear-gradient(to bottom, rgba(173,173,173,1) 0%, rgba(246,246,246,1) 25%, rgba(246,246,246,1) 100%);*/ }

.content {
  min-height: 800px; }

h1, h2, h2, h3 {
  margin-bottom: 1rem; }

h1, h2 {
  font-family: Raleway;
  color: #454242;
  font-weight: 400;
  font-size: 2.3rem; }
  h1::first-letter, h2::first-letter {
    color: #D9534F; }

h2 {
  font-size: 2rem; }

h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.7rem; }

button, input {
  color: inherit; }

button:hover, button:active, button:focus, button:visited, a:hover, a:active, a:focus, a:visited, input:hover, input:active, input:focus, input:visited {
  outline: none;
  text-decoration: none; }

.jumbotron.even {
  background-color: #dbdbdb; }

.as-seen {
  font-size: 1.3rem; }

.partnership {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic; }

.down-button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 2rem;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 10;
  transition: all 500ms ease; }
  .down-button i {
    vertical-align: middle; }
  .down-button.light {
    background: white; }
  .down-button:hover {
    background: #D9534F;
    color: white;
    height: 66px;
    width: 66px; }

/***** SELECT *****/
/* ==========  Select Field Variables ========== */
/* ==========  Select Field ========== */
/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

/* Remove focus */
select:focus {
  outline: none; }

/* Hide label */
.selectfield label {
  display: none; }

/* Use custom arrow */
.selectfield select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.selectfield {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px; }

.selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0, 0, 0, 0.12);
  pointer-events: none; }

.inline {
  display: inline; }

.flex-row {
  display: flex; }

.justify-content-center {
  justify-content: center; }

.interactive-button {
  background-color: #454242;
  color: white;
  text-align: center;
  outline: none;
  border: 0;
  display: inline-block;
  min-width: 150px;
  transition: all 200ms ease-out;
  text-decoration: none;
  padding: 2px 6px; }
  .interactive-button:hover {
    color: white;
    background-color: #D9534F; }
  .interactive-button:visited, .interactive-button:focus, .interactive-button:active {
    color: white; }

.button-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  outline: none;
  border: 0;
  transition: all 200ms ease-out; }
  .button-overlay:active, .button-overlay:focus {
    outline: none; }
  .button-overlay.red {
    opacity: .6;
    height: 10%;
    background-color: #D9534F; }
    .button-overlay.red:hover {
      opacity: .9;
      height: 15%; }
  .button-overlay.bookmarked {
    background-color: darkseagreen; }
    .button-overlay.bookmarked:hover {
      opacity: .6;
      height: 10%; }
  .button-overlay.dark {
    color: #454242;
    font-size: 1.2rem;
    left: 0;
    height: 15%;
    background: linear-gradient(to bottom, rgba(241, 241, 241, 0.8) 0%, #f1f1f1 100%); }
    .button-overlay.dark:hover {
      height: 20%; }

.align-items-stretched {
  align-items: stretch; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

.drop-shadow {
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.3); }

.fa-plus {
  margin-right: 5px; }

.subtitle {
  font-size: 1.3rem; }

.description {
  text-indent: 30px; }

.text-important {
  color: #D9534F; }

.text-validated {
  color: mediumseagreen; }

.text-warning {
  color: #ffdc68; }

#user-actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #user-actions > button {
    border: none;
    background: none; }
  #user-actions i {
    font-size: 1.5rem; }
  #user-actions .bookmark:hover .fa-bookmark-o,
  #user-actions .bookmark .fa-bookmark,
  #user-actions .bookmarked .fa-bookmark-o {
    display: none; }
  #user-actions .bookmark:hover .fa-bookmark,
  #user-actions .bookmarked .fa-bookmark {
    display: inline; }
  #user-actions > .bookmarked, #user-actions > .bookmarked:hover,
  #user-actions > .liked, #user-actions > .liked:hover {
    color: #D9534F; }
  #user-actions .like:hover .fa-heart-o,
  #user-actions .like .fa-heart,
  #user-actions .liked .fa-heart-o {
    display: none; }
  #user-actions .like:hover .fa-heart,
  #user-actions .liked .fa-heart {
    display: inline; }

.html-tooltip .tooltip-content {
  background: #454242;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  right: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  min-width: 200px;
  min-height: 50px;
  transition: all .25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28); }
  .html-tooltip .tooltip-content .title {
    font-family: Raleway;
    font-weight: 500;
    color: #454242; }
  .html-tooltip .tooltip-content.bottom {
    top: 100%;
    transform: translateY(-10px); }
    .html-tooltip .tooltip-content.bottom::before {
      top: -20px; }
    .html-tooltip .tooltip-content.bottom::after {
      top: -10px;
      border-bottom: solid #454242 10px; }
  .html-tooltip .tooltip-content.top {
    bottom: 100%;
    margin-bottom: 15px;
    transform: translateY(10px); }
    .html-tooltip .tooltip-content.top::before {
      bottom: -20px; }
    .html-tooltip .tooltip-content.top::after {
      bottom: -10px;
      border-top: solid #454242 10px; }
  .html-tooltip .tooltip-content > a, .html-tooltip .tooltip-content > a:hover, .html-tooltip .tooltip-content > a:active, .html-tooltip .tooltip-content > a:focus {
    color: white;
    text-decoration: none; }
  .html-tooltip .tooltip-content::before {
    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%; }
  .html-tooltip .tooltip-content::after {
    /* CSS Arrow */
    content: " ";
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    height: 0;
    left: 80%;
    margin-left: -13px;
    position: absolute;
    width: 0; }

.html-tooltip:hover .tooltip-content {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px); }

.dark-corner-gradient, #main-carousel-section a.wide-img::after {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, transparent 61%, transparent 100%); }

.dark-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1; }

.toggle, .toggle:active, .toggle:focus {
  position: absolute;
  outline: none;
  text-decoration: none;
  border: 0; }

.modal-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .modal-view iframe {
    position: absolute;
    border: 0;
    overflow: hidden; }

.portrait-img, .wide-img {
  position: relative;
  overflow: hidden; }

.portrait-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.wide-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.asset-line {
  margin-bottom: 30px; }

.asset-figure {
  display: flex;
  flex-direction: column;
  min-height: 250px; }
  .asset-figure .asset-img {
    border: 1px solid #f1f1f1;
    height: 200px; }
    .asset-figure .asset-img .button-overlay {
      height: 15%; }
      .asset-figure .asset-img .button-overlay:hover {
        height: 20%; }
    .asset-figure .asset-img img {
      max-height: 100%;
      max-width: 100%; }
    .asset-figure .asset-img.wide-img img {
      max-height: 100%;
      width: auto;
      max-width: none; }

.asset-img {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto; }
  .asset-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .asset-img > a, .asset-img > div {
    position: relative;
    flex: 1 0 auto;
    overflow: hidden; }

.asset-legend {
  flex: 1 0 auto;
  background-color: #eeeeee;
  padding: 15px; }

.asset-title,
.asset-title:hover,
.asset-title:visited,
.asset-title:active {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: #454242;
  text-transform: uppercase; }
  .asset-title span,
  .asset-title:hover span,
  .asset-title:visited span,
  .asset-title:active span {
    font-size: .8rem;
    text-transform: lowercase; }

.asset-desc,
.asset-desc:hover,
.asset-desc:visited,
.asset-desc:active {
  font-size: .75rem;
  text-decoration: none;
  color: #454242;
  line-height: normal; }

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 200; }
  .pagination li {
    flex: 1 0 auto; }
    .pagination li.disabled span {
      color: #d1d1d1; }
    .pagination li a, .pagination li span {
      padding: 8px 16px;
      color: #454242; }
    .pagination li.active span {
      padding: 8px 16px;
      background-color: #D9534F;
      color: white; }

#search-bar {
  display: none;
  color: white;
  height: 100%; }
  #search-bar > div {
    display: flex;
    align-items: center; }
    #search-bar > div .fa-close {
      font-size: 1.3rem; }
  #search-bar button {
    border: none;
    background: none; }
  #search-bar form {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.3rem; }
    #search-bar form .fa-search {
      flex: 1 0 5%; }
    #search-bar form #top-search-box {
      border: none;
      background: none;
      flex: 1 0 95%;
      align-self: stretch;
      font-family: Raleway; }
      #search-bar form #top-search-box::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: white; }
      #search-bar form #top-search-box:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1; }
      #search-bar form #top-search-box::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1; }
      #search-bar form #top-search-box:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white; }

.header-placeholder {
  height: 50px;
  margin-bottom: 30px; }

header {
  background-color: #454242;
  width: 100%;
  margin: auto;
  height: 50px;
  position: relative;
  z-index: 100; }
  header.sticky {
    position: fixed; }
  header .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%; }
    header .container > div:nth-child(2) {
      flex: 1 0 auto; }
  header a, header a:hover, header a:visited, header a:focus {
    text-decoration: none;
    color: white; }
  header nav {
    font-weight: 300; }
    header nav > ul > li {
      line-height: 20px; }
  header #brand {
    position: absolute;
    top: 0;
    z-index: 3; }
    header #brand h1, header #brand h2 {
      font-size: 35px;
      font-family: Lobster, Oswald, Roboto;
      line-height: inherit;
      margin: 0;
      padding: 0; }
      header #brand h1::first-letter, header #brand h2::first-letter {
        color: white; }
    header #brand span {
      color: #D9534F; }

#primary-nav {
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex: 1 0 auto; }
  #primary-nav > ul > li > a {
    border-bottom: 3px solid transparent;
    font-size: .9rem; }
  #primary-nav > ul > li:hover > a {
    border-bottom: 3px solid #D9534F; }
  #primary-nav > ul > li:hover .level1 {
    opacity: 1;
    visibility: visible; }
  #primary-nav ul {
    display: flex;
    flex: 1 0 auto;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 0; }
    #primary-nav ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px; }
  #primary-nav .primary-nav-sub {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    transition: opacity 0.2s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    font-size: .9rem; }
    #primary-nav .primary-nav-sub::before {
      content: "";
      position: absolute;
      left: -500rem;
      right: -500rem;
      height: 100%;
      z-index: -1; }
    #primary-nav .primary-nav-sub.level1 {
      height: 30px; }
      #primary-nav .primary-nav-sub.level1 > li:hover .level2 {
        opacity: 1;
        visibility: visible; }
      #primary-nav .primary-nav-sub.level1 > li:hover > a {
        border-bottom: 2px solid white; }
      #primary-nav .primary-nav-sub.level1::before {
        background-color: #6e6969;
        box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.3); }
    #primary-nav .primary-nav-sub.level2 {
      margin: 0;
      padding: 0 .9375rem;
      font-size: .7rem; }
      #primary-nav .primary-nav-sub.level2::before {
        background-color: #eeeeee;
        box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.3); }
      #primary-nav .primary-nav-sub.level2 a {
        color: #454242;
        border-bottom: 1px solid transparent;
        text-align: center; }
        #primary-nav .primary-nav-sub.level2 a:hover {
          border-bottom: 1px solid #454242; }
      #primary-nav .primary-nav-sub.level2 .category-title {
        margin-top: 15px;
        font-size: 1rem;
        text-transform: uppercase; }
      #primary-nav .primary-nav-sub.level2 .col-md3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px; }
      #primary-nav .primary-nav-sub.level2 ul {
        display: block;
        text-transform: none;
        padding-bottom: 15px;
        flex: 0 0 auto; }

#secondary-nav > ul {
  display: flex;
  flex: 1 0 auto;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 0;
  color: white;
  position: relative;
  top: 3px;
  font-size: 12px; }
  #secondary-nav > ul li {
    flex: 1 0 auto; }
  #secondary-nav > ul .fa-search {
    font-size: 1rem; }
  #secondary-nav > ul .fa-caret-down {
    margin-left: 3px; }

#secondary-nav .login-dp {
  color: #454242;
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  left: 50%;
  transform: translateX(-50%); }
  #secondary-nav .login-dp a {
    color: #454242; }
  #secondary-nav .login-dp .help-block {
    font-size: 12px; }
    #secondary-nav .login-dp .help-block button {
      border: none;
      background: none; }
  #secondary-nav .login-dp .bottom {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;
    flex: 0 0 100%;
    padding: 14px;
    text-align: center; }
    #secondary-nav .login-dp .bottom button {
      border: none;
      background: none; }
  #secondary-nav .login-dp .social-buttons {
    margin: 12px 0; }
  #secondary-nav .login-dp .social-buttons a {
    width: 49%;
    color: #fff; }
  #secondary-nav .login-dp .form-group {
    margin-bottom: 10px; }
  #secondary-nav .login-dp .btn-fb {
    background-color: #3b5998; }
  #secondary-nav .login-dp .btn-fb:hover {
    background-color: #496ebc; }
  #secondary-nav .login-dp .btn-tw {
    background-color: #55acee; }
  #secondary-nav .login-dp .btn-tw:hover {
    background-color: #59b5fa; }

#secondary-nav #search-button {
  background: none;
  border: none;
  padding: 0; }

#account-menu {
  background: #6e6969;
  padding: .9rem;
  border: none;
  border-radius: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: inherit; }

#signup-form #step2 {
  display: none; }

@media (max-width: 768px) {
  .login-dp {
    background-color: inherit;
    color: #fff; }
  .login-dp .bottom {
    background-color: inherit;
    border-top: 0 none; } }

footer {
  background-color: #454242;
  min-height: 150px;
  color: white;
  padding-top: 30px; }
  footer button {
    background: none;
    border: none;
    margin: 0;
    padding: 0; }
  footer a, footer a:hover, footer a:active, footer a:focus {
    color: inherit; }
  footer nav {
    font-weight: 500; }
    footer nav ul {
      display: flex;
      justify-content: space-around; }

#social-nav {
  font-size: 1.5rem; }

#copyright {
  margin-top: 30px; }

#tchat-box {
  width: 300px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 5px;
  transform: translateY(87%);
  z-index: 10; }

#top-bar {
  color: white;
  display: flex;
  background-color: #D9534F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 -1px;
  cursor: pointer; }
  #top-bar i {
    display: flex;
    align-items: center;
    justify-content: center; }
    #top-bar i.fa-envelope {
      background-color: #C13D39;
      border-top-left-radius: 10px; }
  #top-bar button {
    opacity: 0;
    background: none;
    border: none;
    margin: 0;
    padding: 0; }
  #top-bar span {
    padding-left: 5px; }
  #top-bar * {
    flex: 1 0 auto;
    padding: 10px 0;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2); }

#message-box {
  padding: 0 15px 15px 15px;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  #message-box > * {
    margin-top: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 5px; }
  #message-box i {
    width: 20px; }
  #message-box input, #message-box textarea {
    font-size: .8rem;
    border: none;
    resize: none;
    width: 90%; }
  #message-box textarea {
    min-height: 80px;
    outline: none; }
  #message-box div:nth-child(3) {
    display: flex; }
    #message-box div:nth-child(3) i {
      align-self: center; }

#main-carousel-section {
  margin-top: 15px;
  position: relative;
  z-index: 10;
  /*#pager{
        height: 10px;
        background: $clear-red;
        position: relative;
        left: 0;
        width: 20%;
        transition: left 500ms ease;
    }*/ }
  #main-carousel-section a.wide-img {
    height: 400px;
    display: block; }
    #main-carousel-section a.wide-img::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  #main-carousel-section figcaption {
    color: white;
    position: absolute;
    margin-left: 5%;
    top: 50%;
    width: 55%;
    font-family: Oswald;
    text-shadow: 2px 1px 1px #000; }
    #main-carousel-section figcaption .type {
      color: #D9534F;
      font-size: 1.5rem; }
    #main-carousel-section figcaption .title, #main-carousel-section figcaption .title:hover, #main-carousel-section figcaption .title:active, #main-carousel-section figcaption .title:focus {
      font-size: 2rem;
      color: white;
      text-decoration: none; }
    #main-carousel-section figcaption .description {
      font-size: 1.5rem; }
  #main-carousel-section .toggle {
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    border: 0;
    background: none;
    z-index: 11;
    color: white;
    text-shadow: 2px 1px 1px #000; }
    #main-carousel-section .toggle[data-toggle=next] {
      right: 0; }
  #main-carousel-section .pagin {
    text-align: center;
    margin-top: 10px; }
    #main-carousel-section .pagin button {
      background: none;
      border: none; }
      #main-carousel-section .pagin button.active {
        color: #D9534F; }

.jumbotron {
  position: relative;
  background: none;
  padding: 4rem;
  margin: 0; }
  .jumbotron .wrap {
    position: relative; }
  .jumbotron .toggle, .jumbotron .toggle:focus, .jumbotron .toggle:active {
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    background: #e9e9e9;
    background-clip: content-box;
    color: #454242;
    font-size: 2rem;
    width: 60px;
    height: 80px; }
  .jumbotron:hover .toggle {
    opacity: 1;
    visibility: visible; }
  .jumbotron .toggle[data-toggle=prev] {
    left: -15px; }
  .jumbotron .toggle[data-toggle=next] {
    right: -15px; }

#main-search-box {
  width: 70%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #dbdbdb;
  border-radius: 30px; }
  #main-search-box input {
    border: 0;
    width: 100%;
    padding: 15px 65px 15px 30px;
    position: relative;
    z-index: 2;
    background: none; }
    #main-search-box input:focus + .placeholder {
      display: none; }
  #main-search-box i, #main-search-box .placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  #main-search-box i {
    right: 5%;
    color: #454242;
    font-size: 1.5rem; }
  #main-search-box .placeholder {
    left: 5%;
    color: #A0A0A0;
    z-index: 1; }

#see-on-pickedin .container {
  margin-bottom: 2rem; }

#see-on-pickedin figure {
  height: 120px;
  display: flex;
  position: relative; }
  #see-on-pickedin figure .wide-img {
    height: 100%; }
  #see-on-pickedin figure:nth-of-type(1) figcaption {
    left: 5%; }
  #see-on-pickedin figure:nth-of-type(1) .wide-img:first-child {
    width: 25%; }
    #see-on-pickedin figure:nth-of-type(1) .wide-img:first-child img {
      transform: translate(-50%, -35%); }
  #see-on-pickedin figure:nth-of-type(1) .wide-img:nth-child(2) {
    width: 15%; }
  #see-on-pickedin figure:nth-of-type(1) .wide-img:nth-child(3) {
    width: 25%; }
  #see-on-pickedin figure:nth-of-type(1) .wide-img:nth-child(4) {
    width: 35%; }
    #see-on-pickedin figure:nth-of-type(1) .wide-img:nth-child(4) img {
      transform: translate(-50%, -35%); }
  #see-on-pickedin figure:nth-of-type(2) figcaption {
    right: 5%; }
  #see-on-pickedin figure:nth-of-type(2) .wide-img:first-child {
    width: 40%; }
  #see-on-pickedin figure:nth-of-type(2) .wide-img:nth-child(2) {
    width: 25%; }
  #see-on-pickedin figure:nth-of-type(2) .wide-img:nth-child(3) {
    width: 35%; }
  #see-on-pickedin figure:nth-of-type(2) .wide-img:nth-child(4) {
    width: 35%; }
  #see-on-pickedin figure:nth-of-type(3) figcaption {
    left: 5%; }
  #see-on-pickedin figure:nth-of-type(3) .wide-img:first-child {
    width: 25%; }
  #see-on-pickedin figure:nth-of-type(3) .wide-img:nth-child(2) {
    width: 50%; }
  #see-on-pickedin figure:nth-of-type(3) .wide-img:nth-child(3) {
    width: 25%; }
  #see-on-pickedin figure:nth-of-type(4) figcaption {
    right: 5%; }
  #see-on-pickedin figure:nth-of-type(4) .wide-img:first-child {
    width: 20%; }
  #see-on-pickedin figure:nth-of-type(4) .wide-img:nth-child(2) {
    width: 20%; }
  #see-on-pickedin figure:nth-of-type(4) .wide-img:nth-child(3) {
    width: 30%; }
  #see-on-pickedin figure:nth-of-type(4) .wide-img:nth-child(4) {
    width: 30%; }
    #see-on-pickedin figure:nth-of-type(4) .wide-img:nth-child(4) img {
      transform: translate(-50%, -65%); }
  #see-on-pickedin figure figcaption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Oswald;
    color: white;
    font-size: 1.5rem;
    z-index: 2;
    text-shadow: 2px 1px 1px #000; }

#pics .row:nth-child(2) .portrait-img {
  height: 150px; }

#pics .row:nth-child(3) .portrait-img {
  height: 170px; }

#features-detail .container i {
  display: block;
  font-size: 5rem;
  color: #D9534F;
  margin: 30px 0; }

/***** HIGHLIGHTS *****/
.highlight {
  margin: 0 auto; }

.highlight .container, .highlight.container {
  position: relative;
  padding: 0; }

.highlight.fashion {
  background-color: #dbdbdb; }

.highlight.locations .carousel-seat {
  display: flex;
  justify-content: space-around; }

.highlight .carousel-seat {
  margin-bottom: 30px; }

.highlight .carousel-seat div {
  position: relative; }

.highlight .toggle {
  opacity: 0;
  visibility: hidden;
  top: 175px; }

.highlight:hover .toggle {
  opacity: 1;
  visibility: visible; }

.highlight .toggle, .highlight .toggle:focus, .highlight .toggle:active {
  background: #e9e9e9;
  background-clip: content-box;
  color: #454242;
  font-size: 2rem;
  width: 60px;
  height: 80px; }

.highlight .toggle[data-toggle=prev] {
  left: -15px; }

.highlight .toggle[data-toggle=next] {
  right: -15px; }

.assets-nav {
  color: #454242;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #eeeeee; }
  .assets-nav > div {
    width: 100%;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    align-content: center;
    box-shadow: 0 1px 1px rgba(52, 63, 74, 0.2); }
    .assets-nav > div:hover svg {
      transform: rotate(180deg) scale(0); }
    .assets-nav > div:hover span {
      opacity: 1; }
  .assets-nav button[data-action] {
    background: none;
    border: none;
    width: 25px;
    font-size: .875rem;
    height: 65px;
    color: #454242; }
    .assets-nav button[data-action][disabled] {
      color: #a09a9a; }

.line-icon {
  position: relative;
  width: 40px;
  margin-right: 5px;
  margin-left: 5px; }
  .line-icon svg {
    display: block;
    /*Avoid having margin around svg (same for images)*/
    fill: currentColor;
    width: 40px;
    height: 65px;
    padding: 5px;
    transition: all 500ms ease; }
  .line-icon span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    opacity: 0;
    text-align: center;
    font-size: 0.75rem;
    transition: all 500ms ease; }

.assets {
  overflow: hidden;
  min-height: 65px;
  margin: 0;
  width: 675px;
  display: flex;
  align-items: center; }
  .assets .timeline-bar {
    width: 100%;
    display: flex;
    margin: 0 0 0 -43.39286px;
    list-style: none;
    padding: 0;
    transform: translateX(43.39286px); }
    .assets .timeline-bar.is-reversing {
      transform: translateX(-43.39286px); }
    .assets .timeline-bar .carousel-seat {
      margin: 0 2.41071px;
      flex: 0 0 43.39286px;
      opacity: 0; }
    .assets .timeline-bar.is-set {
      transform: none;
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
    .assets .timeline-bar .is-ref {
      margin: 0 5px 0 -5px; }
    .assets .timeline-bar.no-slide {
      margin: 0; }
      .assets .timeline-bar.no-slide .is-ref {
        margin: 0 2.41071px; }
  .assets .asset-img {
    flex: 0 0 43.39286px;
    height: 43.39286px;
    width: 43.39286px; }
    .assets .asset-img a.set img, .assets .asset-img a.location img {
      max-height: 100%;
      max-width: none; }
    .assets .asset-img img {
      max-height: 100%;
      max-width: 100%; }
    .assets .asset-img .asset-info {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      background: white;
      height: 180%;
      max-width: 0;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 0 40px 0 65px;
      color: #454242;
      display: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      flex-direction: column;
      justify-content: center; }
      .assets .asset-img .asset-info * {
        opacity: 0; }
      .assets .asset-img .asset-info .title {
        font-family: Raleway;
        font-weight: 500;
        color: #D9534F;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      .assets .asset-img .asset-info .interactive-button {
        width: 80px;
        min-width: inherit; }
    .assets .asset-img > a {
      border-radius: 50px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      background: white;
      z-index: 2; }
      .assets .asset-img > a.look {
        background: #454242;
        padding-top: 24%;
        text-align: center;
        color: white; }
    .assets .asset-img:hover {
      position: absolute;
      z-index: 3; }

.assets, .assets li {
  padding: 0;
  list-style-type: none; }

input[type=range] {
  width: 100%; }

.video-overlay {
  position: absolute;
  top: 0;
  color: white;
  font-family: Oswald;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 344px;
  cursor: pointer;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 1px 1px #000;
  background-color: rgba(0, 0, 0, 0.4); }
  .video-overlay i {
    opacity: .8;
    font-size: 10rem; }

.pickedin-player {
  position: relative; }

.plyr {
  overflow-y: hidden;
  height: 345px; }
  .plyr iframe {
    margin-top: -60px; }

/*.plyr__video-wrapper{
    overflow-y: hidden;
    height: 344px;
}
.plyr__video-wrapper video{
    margin-top: -59px;
    z-index: -1;
}
.plyr__controls{
    background-color: $dark-gray;    
    z-index: 1;
}
.plyr__controls button{
    color: white;
}
.plyr__tooltip{
    color: $dark-gray;
}
.plyr__controls .plyr__time{
    color: white;
}*/
/***** PLAYER CAROUSEL *****/
/*#player-carousel{
    position: relative;
    padding: 0 !important;
    margin-bottom: 30px;
}
#player-carousel>.controls{
    position: absolute;
    width: 100%;
    top: 353px;
}
#player-carousel > .controls > button{
    position: relative;
    transition: opacity .5s ease;
    opacity: .8;   
}
#player-carousel > .controls > button:hover{    
    opacity: 1;
}
#player-carousel > .controls > button:first-child{
    left: -50px;
}
#player-carousel > .controls > button:nth-child(2){
    left: 50px;
}
#player-carousel .row{
    margin: 0;
}
#poster-section{
    display: flex;
    flex-direction: column;
    background-clip: content-box;    
    width: 25%;
}
#date-info{
    background-color: $dark-gray;
    padding-bottom: 15px;   
}
#date-info ul{
    font-size: .8rem;
    padding-left: 15px;
    line-height: 1rem;
    margin-bottom: 0;
}
#date-info li:nth-child(2)
{
    margin-top: 5px;
}
#working-people p, #date-info p{    
    font-size: 1rem;    
    padding-left: 15px;  
    margin-bottom: 0;
    text-align: left;
}
#date-info p{
    font-weight: 500;
}
#working-people {
    flex: 1 0 auto;
    margin-top: 15px;    
    background-color: $clear-gray;
    padding-bottom: 15px;
}
#working-people ul{
    font-size:.8rem;
}
#working-people .carousel-seat > ul{
    position: relative;
    left: 30px;
}
#working-people .carousel-seat > div {
    width: 100%;
}
#working-people .carousel-seat > div > button{
    border: 0;
    background: none;
    outline: none;
    font-size: 1.5rem;
}
#working-people .carousel-seat > div > a,
#working-people .carousel-seat > div > a:hover,
#working-people .carousel-seat > div >a:visited
{
    text-decoration: none;
    color: $dark-gray;
}
#working-people p{
    font-weight: 600;
    display: inline-block;
    width: 75%;
}
#working-people p, #working-people ul{
    color: $dark-gray;
}
#date-info p, #date-info ul{
    color: white;
}
#all-products{
    background-color: $clear-red;
    flex-grow: 3;
    color: white;
    padding-top: 13%;
}
.video-overlay{
    position: absolute;
    top: 0;
    color: white;
    font-family: Oswald;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 344px;
    cursor: pointer;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 1px 1px #000; 
    background-color: rgba(0,0,0,.4);
    
    i{
        opacity: .8;
        font-size: 10rem;
    }

    div{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.pagin {
    display: flex;
    background-color: $dark-gray;
    justify-content: center;
    margin: 0;

    li{
        flex: 1 0 10%;
        margin: 15px;
    }

    a{
        display: block;

        &:not(.active){
            opacity: .5;
            transition: opacity 500ms ease;

            &:hover{
                opacity: 1;
            }
        }
    }

    .active{
        border-bottom: 5px solid $clear-red;
    }
}

#player-carousel > .row{
    align-items: center;
}
#player-carousel > .row > button{
    border: 0;
    font-size: 3rem;
    line-height: 9rem;
    outline: none;    
}
#player-carousel > .row > button > i{
    transition: margin 100ms ease-in;
}
#player-carousel > .row > button:nth-child(1):hover > i{
    margin: 0 5px 0 0;
}
#player-carousel > .row > button:nth-child(3):hover > i{
    margin: 0 0 0 5px;
}
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
@keyframes slide-out {
    100% { 
        transform: translateX(110%);
        opacity: 0;
    }
}
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
    100% { 
        transform: translateX(0%);
        opacity: 1;
    }
}
.disappear{
    animation: disappear 0.5s forwards;
}
@keyframes disappear {
    100% {        
        opacity: 0;
    }
}
.appear{
    animation: appear 0.5s forwards;
}
@keyframes appear {
    100% {        
        opacity: 1;
    }
}*/
/***** CAROUSELS *****/
.wrap {
  overflow: hidden; }

#video-carousel {
  margin-bottom: 30px; }

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%); }

@media (min-width: 40em) {
  .carousel {
    left: -20%;
    transform: translateX(20%); }
  .carousel.full-size {
    left: -100%;
    transform: translateX(100%); } }

@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-20%); }
  .carousel.is-reversing.full-size {
    transform: translateX(-100%); } }

.carousel.is-set, .carousel.is-set.full-size {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1); }

.carousel-seat {
  padding: 0 15px;
  margin: 0;
  background-clip: content-box !important;
  flex: 1 0 100%;
  order: 2; }

@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 20%; }
  .full-size .carousel-seat {
    flex-basis: 100%;
    background: none;
    padding: 0; } }

.carousel-seat.is-ref {
  order: 1; }

/***** FILM PAGE*****/
#player-section {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative; }
  #player-section h1, #player-section h2 {
    margin: 0; }
  #player-section .more-info {
    margin-bottom: 15px;
    margin-top: 15px; }
    #player-section .more-info .col-md-6 {
      display: flex; }
    #player-section .more-info ul {
      flex: 1 0 auto;
      display: flex;
      color: #6f6f6f;
      font-size: .85rem;
      margin: 0; }
    #player-section .more-info li {
      flex: 1 0 auto; }

.info-separator {
  color: #c1c1c1; }

.movie-year {
  font-size: 1.2rem;
  color: #6f6f6f; }

.title-legend {
  font-size: .8rem;
  color: #6f6f6f;
  font-style: italic; }

.synopsis {
  text-indent: 30px;
  font-size: .9rem;
  text-align: justify; }

#movie-info h3 {
  font-size: .9rem;
  font-weight: 600; }
  #movie-info h3.movie-title {
    font-size: 1rem; }

#movie-info div button {
  font-size: .9rem;
  border: 0;
  background: none; }
  #movie-info div button i {
    color: #D9534F;
    margin: 0 5px; }

#movie-info a, #movie-info span {
  font-size: .9rem; }

#product-details-section {
  margin-top: 15px;
  position: relative;
  padding-bottom: 45px; }
  #product-details-section .col-md-3:not(#user-actions) {
    display: flex;
    flex-direction: column; }
  #product-details-section .matching-status {
    margin-left: 5px;
    border-radius: 30px;
    font-size: .9rem;
    color: white;
    height: 25px;
    width: 130px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    #product-details-section .matching-status.close-match {
      background-color: #f0ad4e; }
    #product-details-section .matching-status.exact-match {
      background-color: #77aa49; }
  #product-details-section #category-tags {
    padding: 0;
    display: inline-block; }
  #product-details-section .asset-img {
    height: 300px; }
    #product-details-section .asset-img img {
      max-height: 100%;
      max-width: 100%; }
  #product-details-section .interactive-button {
    margin-top: 30px; }

#location-details-section {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative; }
  #location-details-section .flex-row h1, #location-details-section .flex-row h2 {
    flex: 0 0 75%; }
  #location-details-section .flex-row button {
    flex: 0 0 20%;
    align-self: center; }
  #location-details-section .wide-img {
    height: 350px;
    margin-bottom: 15px; }

.location-info .description {
  position: relative;
  overflow-y: hidden;
  /*&:nth-child(3){
            height: 150px;
        }*/ }

.location-map {
  display: flex; }
  .location-map iframe {
    flex: 1 0 auto; }

#set-map-section {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative; }
  #set-map-section .wide-img {
    height: 350px;
    margin-bottom: 15px; }
  #set-map-section #mapped-tooltips .html-tooltip {
    width: 20px;
    height: 20px;
    position: absolute; }
    #set-map-section #mapped-tooltips .html-tooltip .matching-icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 30px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center; }
    #set-map-section #mapped-tooltips .html-tooltip.exact-match {
      color: #77aa49; }
      #set-map-section #mapped-tooltips .html-tooltip.exact-match .matching-icon {
        background-color: #77aa49; }
      #set-map-section #mapped-tooltips .html-tooltip.exact-match .tooltip-content {
        border: 5px solid #77aa49; }
        #set-map-section #mapped-tooltips .html-tooltip.exact-match .tooltip-content.bottom::after {
          border-bottom: solid #77aa49 10px; }
    #set-map-section #mapped-tooltips .html-tooltip.close-match {
      color: #f0ad4e; }
      #set-map-section #mapped-tooltips .html-tooltip.close-match .matching-icon {
        background-color: #f0ad4e; }
      #set-map-section #mapped-tooltips .html-tooltip.close-match .tooltip-content {
        border: 5px solid #f0ad4e; }
        #set-map-section #mapped-tooltips .html-tooltip.close-match .tooltip-content.bottom::after {
          border-bottom: solid #f0ad4e 10px; }
    #set-map-section #mapped-tooltips .html-tooltip i {
      font-size: 1.3rem;
      transition: text-shadow 500ms ease; }
    #set-map-section #mapped-tooltips .html-tooltip .tooltip-content {
      color: #454242;
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 30px;
      padding: 20px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 15px;
      min-width: 250px; }
      #set-map-section #mapped-tooltips .html-tooltip .tooltip-content .interactive-button {
        min-width: 90px; }
      #set-map-section #mapped-tooltips .html-tooltip .tooltip-content.bottom::after {
        top: -15px;
        left: 50%; }
    #set-map-section #mapped-tooltips .html-tooltip:hover .matching-icon {
      animation: matching-expand 0.3s forwards, matching-text-color 0s 0.3s forwards; }
    #set-map-section #mapped-tooltips .html-tooltip:hover i {
      text-shadow: 0 0 10px white; }

@keyframes matching-expand {
  100% {
    height: 30px;
    width: 250px; } }

@keyframes matching-text-color {
  100% {
    color: white;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5); } }

#look-products-section {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative; }
  #look-products-section #look-products > div:first-child {
    z-index: -2; }
  #look-products-section #dark-silhouette {
    height: 550px;
    margin: 0 30px; }
  #look-products-section #body-markers.man #head-marker {
    top: 30px;
    left: 145px; }
  #look-products-section #body-markers.man #chest-marker {
    top: 130px;
    left: 145px; }
  #look-products-section #body-markers.man #hands-marker {
    top: 255px;
    left: 75px; }
  #look-products-section #body-markers.man #legs-marker {
    top: 280px;
    left: 160px; }
  #look-products-section #body-markers.man #feet-marker {
    top: 515px;
    left: 155px; }
  #look-products-section #body-markers.woman #head-marker {
    top: 30px;
    left: 140px; }
  #look-products-section #body-markers.woman #chest-marker {
    top: 130px;
    left: 145px; }
  #look-products-section #body-markers.woman #hands-marker {
    top: 215px;
    left: 95px; }
  #look-products-section #body-markers.woman #legs-marker {
    top: 310px;
    left: 175px; }
  #look-products-section #body-markers.woman #feet-marker {
    top: 515px;
    left: 160px; }
  #look-products-section #body-markers.boy #head-marker {
    top: 30px;
    left: 115px; }
  #look-products-section #body-markers.boy #chest-marker {
    top: 150px;
    left: 115px; }
  #look-products-section #body-markers.boy #hands-marker {
    top: 315px;
    left: 55px; }
  #look-products-section #body-markers.boy #legs-marker {
    top: 360px;
    left: 145px; }
  #look-products-section #body-markers.boy #feet-marker {
    top: 515px;
    left: 145px; }
  #look-products-section #body-markers.girl #head-marker {
    top: 40px;
    left: 115px; }
  #look-products-section #body-markers.girl #chest-marker {
    top: 150px;
    left: 115px; }
  #look-products-section #body-markers.girl #hands-marker {
    top: 255px;
    left: 55px; }
  #look-products-section #body-markers.girl #legs-marker {
    top: 400px;
    left: 140px; }
  #look-products-section #body-markers.girl #feet-marker {
    top: 515px;
    left: 140px; }
  #look-products-section .matching-icon {
    color: transparent;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9534F; }
  #look-products-section #product-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #look-products-section #product-lines .product-line {
      display: flex;
      background: #eeeeee;
      border: 3px solid transparent;
      border-radius: 50px; }
      #look-products-section #product-lines .product-line:hover {
        border: 3px solid #D9534F; }
    #look-products-section #product-lines .asset-img {
      height: 80px;
      width: 80px;
      margin-right: 30px; }
      #look-products-section #product-lines .asset-img:not(:first-child) {
        margin-left: 30px; }
      #look-products-section #product-lines .asset-img > a {
        border-radius: 50px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background: white;
        z-index: 2; }
        #look-products-section #product-lines .asset-img > a img {
          max-height: 100%;
          max-width: 100%; }
      #look-products-section #product-lines .asset-img .asset-info {
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        background: #454242;
        height: 150%;
        width: 0;
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;
        padding: 0 40px 0 80px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: stretch; }
        #look-products-section #product-lines .asset-img .asset-info * {
          opacity: 0; }
        #look-products-section #product-lines .asset-img .asset-info .title {
          font-family: Raleway;
          font-weight: 500;
          color: #D9534F; }
        #look-products-section #product-lines .asset-img .asset-info .interactive-button {
          background-color: #eeeeee;
          color: #454242;
          min-width: inherit;
          width: 80px;
          transition: all 200ms ease-out; }
          #look-products-section #product-lines .asset-img .asset-info .interactive-button:hover {
            background-color: #D9534F;
            color: white; }

#product-paths {
  z-index: -1; }

.product-path {
  opacity: 0;
  stroke: #D9534F;
  stroke-width: 3px;
  stroke-dasharray: 0 1000;
  fill: none; }
  .product-path.visible {
    opacity: 1;
    animation: dash 1s linear alternate forwards; }

@keyframes slide-panel {
  0% {
    opacity: 1; }
  100% {
    opacity: 1;
    width: 250px; } }

@keyframes dash {
  from {
    stroke-dasharray: 0 1000;
    /* zero-length stroke, 
                                    1000-length gap */ }
  to {
    stroke-dasharray: 1000 0;
    /* 1000-length stroke, 
                                    zero-length gap */ } }

.modal-dialog {
  width: auto; }
  .modal-dialog .modal-content {
    border: none; }
  .modal-dialog #iframe-go-back {
    visibility: hidden; }
    .modal-dialog #iframe-go-back.visible {
      visibility: visible; }
  .modal-dialog iframe {
    overflow: hidden;
    width: 100%;
    border: none;
    min-height: 900px; }

@media screen and (min-width: 544px) {
  .modal-dialog {
    max-width: 576px; }
    .modal-dialog.modal-sm {
      width: 400px; } }

@media screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 720px; }
    .modal-dialog.modal-sm {
      width: 400px; } }

@media screen and (min-width: 992px) {
  .modal-dialog {
    max-width: 940px; }
    .modal-dialog.modal-sm {
      width: 600px; } }

@media screen and (min-width: 1200px) {
  .modal-dialog {
    max-width: 1140px; }
    .modal-dialog.modal-sm {
      width: 600px; } }

#search-results-section .asset-figure {
  transition: transform 300ms ease; }
  #search-results-section .asset-figure:hover {
    transform: translateY(-10px); }

#search-results-section .asset-img {
  border: 1px solid #f1f1f1; }

#search-results-section .asset-legend {
  text-align: center; }
  #search-results-section .asset-legend .asset-title {
    text-transform: none;
    font-size: .9rem;
    font-weight: 500; }
    #search-results-section .asset-legend .asset-title span {
      font-size: 1rem;
      font-weight: 600;
      text-transform: capitalize; }

#profile-section button {
  border: none;
  background: none;
  padding: 0;
  margin: 0; }

#profile-section a, #profile-section a:hover, #profile-section a:active, #profile-section a:focus {
  color: inherit; }

#profile-section .fa-envelope-o {
  margin-right: 5px; }

#profile-section .fa-pencil {
  margin-left: 5px; }

#profile-section h1, #profile-section h2 {
  display: inline-block; }

#profile-section #profile-info {
  padding-bottom: 30px;
  border-bottom: 1px solid #f1f1f1; }
  #profile-section #profile-info [id*="-info"] > a, #profile-section #profile-info [id*="-info"] .edit {
    visibility: hidden; }
  #profile-section #profile-info [id*="-info"]:hover > a, #profile-section #profile-info [id*="-info"]:hover .edit {
    visibility: visible; }
  #profile-section #profile-info [id*="edit-"] {
    display: none; }
  #profile-section #profile-info #name-info {
    min-height: 60px; }
  #profile-section #profile-info #email-info {
    min-height: 25px; }
  #profile-section #profile-info .fa-check {
    color: #D9534F; }

#profile-section .nav-button {
  display: flex;
  padding: 0; }
  #profile-section .nav-button button {
    flex: 1 0 auto;
    padding: 10px;
    transition: border-color 500ms ease;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.4rem; }
    #profile-section .nav-button button.active, #profile-section .nav-button button:hover {
      border-bottom: 3px solid;
      border-color: #D9534F; }

#profile-section #active-panes {
  min-height: 400px;
  border-left: 1px solid #f1f1f1; }
  #profile-section #active-panes h2 {
    padding: 20px; }
  #profile-section #active-panes [id*="-pane"] {
    display: none; }
    #profile-section #active-panes [id*="-pane"].active {
      display: flex; }

#profile-section .bookmark-sheet, #profile-section .like-sheet {
  padding: 30px;
  border-bottom: 1px solid #f1f1f1; }
  #profile-section .bookmark-sheet img, #profile-section .like-sheet img {
    display: block;
    margin: 0 auto;
    max-height: 250px;
    max-width: 100%; }
