<% include ../partials/header.ejs%>
<div class="container">
    <section id="product-details-section">
        <div class="row">
            <div class="col-md-3">
                <div class="asset-img taller">
                    <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                </div>
                <div class="matching-status">
                    Produit <span class="text-warning font-weight-bold">approchant</span>
                </div>
            </div>
            <div class="col-md-9 drop-shadow">
                <h1>Dior Homme</h1>
                <p class="subtitle">Manteau polaire bleu - <span class="font-weight-bold">139€</span></p>
                <p class="description">
                    Kara Danvers/Supergirl (Melissa Benoist) is seen with the blue Topshop Eraser Stripe Crop Top in Supergirl, Season 1, Episode 16 - Falling. Find Tops, Clothing and Women's Fashion from Supergirl below.<br />
                    You might know her more famous cousin Superman, but this is a tale about his mysterious relative. It's a bird. It's a plane. OMG. It's Season 2 of Supergirl! Get ready for serious girl power when Kara Danvers (Melissa Benoist) suits up in superhero red to take down some evil meta humans. Now it's up to her to save screaming extras of National City.
                </p>
                <p class="font-weight-bold as-seen">
                    Vu dans <span class="text-important">Five</span>
                </p>
                <p>
                    A voir également dans :
                    <ul>
                        <li>Five</li>
                        <li>Spectre</li>
                        <li>Dr DoLittle</li>
                    </ul>
                </p>
                <div>
                    <button class="interactive-button">Acheter</button>
                    <button class="interactive-button">Sauvegarder</button>
                </div>
            </div>
        </div>
    </section>
    <section id="similar-products">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase">Les produits similaires</h2>
                <div class="row asset-line">
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                </div>
                <div class="row asset-line">
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                            <button class="red-button-overlay">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="#" class="asset-title">Dior Homme</a>
                            <a href="#" class="asset-desc">Veste bleue polaire high fashion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<% include ../partials/footer.ejs%>
